torch>=2.9.1
torchvision>=0.24.1
torchaudio>=2.9.1
torchcodec>=0.8.1
pandas
faster-whisper
silero-vad
pyyaml
sounddevice
pyautogui
pyperclip
rapidfuzz
easyocr
pyside6
triton-windows
transformers>=4.51.3
bitsandbytes>=0.43.0
# flash_attn-2.8.3+cu124torch2.9-cp310-cp310-win_amd64.whl
# sageattention-2.2.0+cu128torch2.9.0andhigher.post4-cp39-abi3-win_amd64.whl